<h1>Restaurants list</h1>
<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item">
      <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
    </li>
  <% end %>
</ul>

<%= link_to new_restaurant_path do %>
  <button type="button" class="btn btn-primary">Add a new restaurant</button>
<% end %>
